/* 

---01 TYPOGRAPHY SYSTEM

- FONT SIZE (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Defaults: 400

- LINE HEIGHTS
Defaults: 1

---02 COLORS
- Primary: #e67e22
- Tints:
- Shades:
- Accents:
- Greys

---05 SHADOWS

---06 BORDER-RADIUS

---07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
